// планий скрол
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;

  // cursor: url("../images/cursor/cursor1.png"), auto;
  // font-family: Roboto, sans-serif;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Roboto',
    'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 1.4;
  cursor: url('image/cursor/cursor-1.png'), auto;
  // cursor: url('image/cursor/curs-1.ani'), auto;
}

.show-modal {
  overflow: hidden;
}

a {
  cursor: url('image/cursor/cursor-2.png'), auto;
}

.img {
  filter: grayscale(51%);
}
