/* Личный нормализатор -------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  padding: 0;
  /* padding: 0;
  margin: 0; */
  color: var(--title-color);
}

p {
  margin-top: 0;
  /* padding: 0;
  margin: 0; */
}

/* чтоб можно было задать геометрию -------- */
a {
  display: block;
  text-decoration: none;
  font-style: normal;
  //   cursor: url('../images/cursor/cursor2.png'), auto;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* Зброс зазора */
img {
  display: block;
  max-width: 100%;
  height: auto;
}
