.advantages {
  // position: relative;
  @extend %section-padding;
  background-color: $bg-2;
  // background-color: #21253e;

  // background: linear-gradient(to right, #3e446457, #e4c9a23b),
  //   url(/src/image/background/2aa.avif);
  // background-repeat: no-repeat;
  // background-position: center top;
  // background-size: cover;
}

.advantages__title {
  @extend %title;
  cursor: text;
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;

  @media screen and (max-width: 580px) {
    row-gap: 30px;
  }
}

.advantages__item {
  display: flex;
  align-items: center;
  width: 31.7%;
  padding: 29px;
  background-color: #454d71;
  border-radius: 6px;
  // box-shadow: 0 3px 8px #0000003d;
  text-align: center;
  border: 1px solid $text-color;
  transition: border 250ms linear;

  background: linear-gradient(to right, #3e446457, #e4c9a23b),
    url(/src/image/background/2aa.avif);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;

  @media screen and (max-width: 1263px) {
    width: 31%;
  }

  @media screen and (max-width: 896px) {
    width: 47%;
  }

  @media screen and (max-width: 580px) {
    width: 100%;
    padding: 17px;
  }
}

// .advantages__item:hover,
// .advantages__item:focus {
//   border: 1px solid $accent-text;
// }

.advantages__image {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  transition: transform 250ms linear;

  @media screen and (max-width: 580px) {
    width: 50px;
  }
}

.advantages__text {
  // @extend %font__size;
  text-align: left;
  margin-left: 20px;
  margin-bottom: 0;
  color: $text-color;
  // font-weight: 700;
  font-size: 20px;
  font-size: clamp(14px, 4.25vw, 16px);
  transition: color 250ms linear;
  cursor: text;
}

.advantages__numbers {
  color: $accent-text;
  margin-bottom: 0;
  font-size: 75px;
  font-weight: 900;
}

.d {
  border: none;
  padding: 18px;
  width: 70px;
}
