.hero {
  @media screen and (max-width: 580px) {
    padding-bottom: 10px;
  }
}

.hero__wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
  overflow-x: hidden;
  text-align: center;

  @media screen and (max-width: 580px) {
    grid-template-columns: 1fr;
    gap: 0;
  }
}

.hero__img {
  @media screen and (max-width: 580px) {
    display: grid;
    justify-items: center;
  }
}

.hero__pre-title {
  text-transform: uppercase;
  margin-bottom: 10px;
  color: $text-color;
  text-align: center;
  font-size: clamp(25px, 3.25vw, 39px);
}

.hero-btn {
  padding: 10px;
  background-color: $accent-text;
  text-transform: uppercase;
}

.button {
  @extend %button;
  transition: all 0.5s ease;
}

.button:hover,
.button:focus {
  @extend %button__hover;
}

.flare-button {
  position: relative;
  overflow: hidden;
}

.flare-button:after {
  position: absolute;
  content: '';
  display: block;
  width: 1.25rem;
  height: 12.5rem;
  margin-left: 3.125rem;
  background: #fff;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 0.5) 100%
  );
  left: -2.5rem;
  top: -6.25rem;
  z-index: 1;
  transform: rotate(45deg);
  animation: movingFlare 3s ease-in-out 0.05s infinite;
}

@keyframes movingFlare {
  0% {
    margin-left: 0rem;
    left: -1.875rem;
  }

  30% {
    margin-left: 5rem;
    left: 110%;
  }
  100% {
    margin-left: 5rem;
    left: 110%;
  }
}

.expand__button {
  @extend %button;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: 1px solid $accent-text;
  box-shadow: 0 3px 8px #0000003d;
  // background-color: $bg-2;
  // background-color: #454d71;
  background-image: linear-gradient(90deg, $bg-2, #66617f);
  color: $accent-text;
  // transition: background-color 250ms linear;
  transform: translateY(0);
  transition: transform 250ms linear, color 250ms linear,
    background-color 250ms linear;
}

.expand__button:hover,
.expand__button:focus {
  @extend %button__hover;
  // color: $bg-2;
  // background-color: $text-color;
  // transform: translateY(-3px);
  // box-shadow: 1px 0 10px #fc0;
}

.hero__overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  // margin-left: auto;
  // margin-right: auto;
  // max-width: 1600px;
  width: 100%;
  height: 775px;
  z-index: -1;
  background: linear-gradient(to right, #17182157, #4650683b),
    url(/src/image/hero/h-15.webp);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;

  @media screen and (max-width: 580px) {
    background-attachment: local;
    height: 810px;
  }
}

.hero__content {
  border: 1px solid $text-color;
  place-self: end;
  align-self: center;
  // place-self: end;
  // place-self: end;
  padding: 15px;
  max-width: 520px;
  // backdrop-filter: blur(3px);
  // background-color: #74819630;
  border-radius: 6px;
  background-color: $bg-2;
  // border: 1px solid $text-color;
  // box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
  //   rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  // background-image: linear-gradient(90deg, #20274c, #5a5572);

  // background: linear-gradient(to right, #3e446457, #e4c9a23b);
  //   url(/src/image/background/1aa.avif);
  // background-repeat: no-repeat;
  // background-position: center top;
  // background-size: cover;
}

.hero__maps {
  margin-left: auto;
  margin-right: auto;
}
