// @import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
// @font-face {
//   font-family: 'Bicubik';
//   src: url('./fonts/bicubik/bicubik.woff2') format('woff2');
//   src: url('./fonts/bicubik/bicubik.woff') format('woff');
//   src: url('./fonts/bicubik/bicubik.ttf') format('ttf');
//   font-style: normal;
//   font-weight: normal;
//   font-display: swap;
// }

@import '/node_modules/modern-normalize/modern-normalize.css';

.my-slider-progress {
  background: #ccc;
}

.my-slider-progress-bar {
  // background: greenyellow;
  height: 2px;
  transition: width 400ms ease;
  width: 0;
}

.splide__arrow--prev {
  background: #e4c9a2;
}

.splide__arrow--next {
  background: #e4c9a2;
}

.splide__page-2 {
  background: #e4c9a2;
}

.splide__pagination--2 {
  background: #22324b;
}

.splide__arrow {
  opacity: 1;
  background: #e4c9a2;
  cursor: url('image/cursor/cursor-2.png'), auto;
}

.splide__pagination__page {
  opacity: 1;
  background: #e4c9a2;
  cursor: url('image/cursor/cursor-2.png'), auto;
}

.splide__pagination__page.is-active {
  background: #22324b;
}

@import './scss/variables/variables';
@import './scss/base/base';
@import './scss/base/scrollbar';
@import './scss/base/personal-normalization';
@import './scss/base/container';
@import './scss/templates/templates';
@import './scss/conponents/header';
@import './scss/conponents/hero';
@import './scss/conponents/services';
@import './scss/conponents/advantages';
@import './scss/conponents/about';
@import './scss/conponents/contacts';
@import './scss/conponents/footer';
@import './scss/conponents/modal';
@import './scss/conponents/modal-2';

.form-2 {
  max-width: 360px;
  min-width: 280px;
}
