%button {
  width: 100%;
  max-width: 287px;
  padding: 15px;
  color: $bg-color;
  background-color: $accent-text;
  font-size: 15px;
  font-size: clamp(12px, 5.25vw, 12px);
  font-weight: 600;
  border: 1px solid $bg-2;
  border-radius: 6px;
  text-transform: uppercase;
  cursor: url('image/cursor/cursor-2.png'), auto;
  transform: translateY(0);
  transition: transform 250ms linear, color 250ms linear,
    background-color 250ms linear;

  // @media screen and (max-width: 959px) {
  //   font-size: 13px;
  // }

  // @media screen and (max-width: 580px) {
  //   font-size: 14px;
  // }
}

%button__hover {
  // color: $bg-2;
  // color: $text-color;
  // background-color: #f0ffff;
  transform: translateY(-3px);
  // box-shadow: 1px 0 10px #fc0;
}

%title {
  margin-bottom: 30px;
  text-align: center;
  color: $accent-text;
  // font-size: 30px;
  font-size: clamp(25px, 5.25vw, 30px);
  text-transform: uppercase;

  @media screen and (max-width: 580px) {
    margin-bottom: 20px;
    // font-size: 25px;
    text-transform: uppercase;
  }
}

%section-padding {
  padding-top: 50px;
  padding-bottom: 50px;
  @media screen and (max-width: 580px) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

%margin {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
}

%logo {
  display: inline-flex;
  align-items: center;
  color: #e4c9a2;
  font-size: 20px;
  font-size: clamp(14px, 4.25vw, 20px);
  // @media screen and (max-width: 580px) {
  //   font-size: 14px;
  // }
}

%font__size {
  font-size: clamp(14px, 4.25vw, 16px);
  // @media screen and (max-width: 580px) {
  //   font-size: 14px;
  // }
}
